In [7]:
%run ./new_installments.ipynb
%run ./new_recurrent_spend.ipynb
%run ./new_transactions.ipynb

Rows generated successfully
Rows generated successfully
Rows generated successfully

,fecha_de_cargo,comercio,descripcion,categoria,monto,forma_de_pago,realizado_por,limite_de_pago,deuda_a_plazos_recurrente_o_normal,comentarios
0,2023-10-29,Liverpool,Celular Samsung A54,Electrónicos,185.185185,LikeU,Aylin,2023-12-01,Plazos,
1,2023-11-05,Liverpool,Celular Samsung A54,Electrónicos,185.185185,LikeU,Aylin,2023-12-01,Plazos,
2,2023-11-12,Liverpool,Celular Samsung A54,Electrónicos,185.185185,LikeU,Aylin,2023-12-01,Plazos,
3,2023-11-19,Liverpool,Celular Samsung A54,Electrónicos,185.185185,LikeU,Aylin,2023-12-31,Plazos,
4,2023-11-26,Liverpool,Celular Samsung A54,Electrónicos,185.185185,LikeU,Aylin,2023-12-31,Plazos,
...,...,...,...,...,...,...,...,...,...,...
70,2025-04-29,,Minisplit,Electrodomesticos,375.888889,Liverpool,Aylin,2025-06-17,Plazos,Aylin lo paga con mi tarjeta
71,2025-05-29,,Minisplit,Electrodomesticos,375.888889,Liverpool,Aylin,2025-07-18,Plazos,Aylin lo paga con mi tarjeta
72,2024-10-05,,,,133.000000,,,2024-10-05,Plazos,
73,2024-11-05,,,,133.000000,,,2024-11-05,Plazos,
74,2024-12-05,,,,133.000000,,,2024-12-05,Plazos,

Stored 'plazos_df' (DataFrame)
Rows generated successfully
Rows generated successfully
Rows generated successfully
Rows generated successfully
Rows generated successfully

,fecha_de_cargo,descripcion,categoria,monto,forma_de_pago,realizado_por,limite_de_pago,deuda_a_plazos_recurrente_o_normal,comentarios
0,2024-04-01,Gasolina,Gasolina,290,LikeU,David,2024-05-01,Recurrente,
1,2024-04-08,Gasolina,Gasolina,290,LikeU,David,2024-05-01,Recurrente,
2,2024-04-15,Gasolina,Gasolina,290,LikeU,David,2024-05-31,Recurrente,
3,2024-04-22,Gasolina,Gasolina,290,LikeU,David,2024-05-31,Recurrente,
4,2024-04-29,Gasolina,Gasolina,290,LikeU,David,2024-05-31,Recurrente,
...,...,...,...,...,...,...,...,...,...
227,2024-12-30,Afinacion polo plata,Reparaciones auto,2400,Efectivo,David,2024-12-30,Recurrente,
228,2025-06-30,Afinacion polo plata,Reparaciones auto,2400,Efectivo,David,2025-06-30,Recurrente,
229,2025-12-30,Afinacion polo plata,Reparaciones auto,2400,Efectivo,David,2025-12-30,Recurrente,
230,2026-06-30,Afinacion polo plata,Reparaciones auto,2400,Efectivo,David,2026-06-30,Recurrente,
231,2026-12-30,Afinacion polo plata,Reparaciones auto,2400,Efectivo,David,2026-12-30,Recurrente,

Stored 'recurrentes_df' (DataFrame)
Stored 'df' (DataFrame)

In [8]:
%store -r all_spend_df

In [9]:
all_spend_df.to_csv('all_spend.csv', encoding='utf-8-sig', index=False)