In [1]:
%run ./spend_text_to_json.ipynb

transaction=Transaction(transaction_date='2024-11-13', commerce='Costco', receipt_detail=[ReceiptDetail(quantity=1.0, description='par de jeans', category='Clothing', unit_price=500.0, subtotal=500.0), ReceiptDetail(quantity=1.0, description='cuernitos', category='Bakery', unit_price=99.0, subtotal=99.0), ReceiptDetail(quantity=2.0, description='pastelitos', category='Bakery', unit_price=150.0, subtotal=300.0), ReceiptDetail(quantity=25.0, description='litros de gasolina', category='Fuel', unit_price=23.01, subtotal=575.25), ReceiptDetail(quantity=1.3, description='kilos de tomate', category='Produce', unit_price=29.9, subtotal=38.87)], receipt_payment_method=[PaymentMethod(payment_method_type='Credit Card', payment_method_name='Costco Citibanamex', paid_amount=1500.12), PaymentMethod(payment_method_type='Credit Card', payment_method_name='Tarjeta NU', paid_amount=2000.01)], receipt_total=1513.12, total_payment=3500.13)
Stored 'filename' (str)
Stored 'filepath_json' (str)

In [6]:
import pandas as pd
import json

In [3]:
# Open and read the JSON file
with open(filepath_json, 'r') as file:
    response_json = json.load(file)

In [7]:
# Will be created two dataframes: one with receipt data and another with payments
# Receipt data will contain all ticket products/services acquired data
# Payments data will contain how prodct/services were acquired
RECEIPT_COLUMNS = ['transaction_date', 'commerce','receipt_total']

receipt_df_raw = pd.DataFrame(response_json.get('receipt_detail'))

for col in RECEIPT_COLUMNS:
    receipt_df_raw[col] = response_json[col]

display(receipt_df_raw)

,quantity,description,category,unit_price,subtotal,transaction_date,commerce,receipt_total
0,1.0,par de jeans,Clothing,500.00,500.00,2024-11-13,Costco,1513.12
1,1.0,cuernitos,Bakery,99.00,99.00,2024-11-13,Costco,1513.12
2,2.0,pastelitos,Bakery,150.00,300.00,2024-11-13,Costco,1513.12
3,25.0,litros de gasolina,Fuel,23.01,575.25,2024-11-13,Costco,1513.12
4,1.3,kilos de tomate,Produce,29.90,38.87,2024-11-13,Costco,1513.12

In [5]:
PAYMENT_COLUMNS = ['transaction_date','total_payment']

payment_df_raw = pd.DataFrame(response_json.get('receipt_payment_method'))

for col in PAYMENT_COLUMNS:
    payment_df_raw[col] = response_json[col]

display(payment_df_raw)

,payment_method_type,payment_method_name,paid_amount,transaction_date,total_payment
0,Credit Card,Costco Citibanamex,1500.12,2024-11-13,3500.13
1,Credit Card,Tarjeta NU,2000.01,2024-11-13,3500.13